
@media (max-width: 910px) and (min-width: 571px){
   #kids-section {
    display: flex;
    flex-direction: column-reverse;
    padding: 40px;
   }
   #kids-section .kids-text {
    text-align: center;
    padding-bottom: 15px;
   }

   #kids-section .kids-text h1 {
    font-size: 43px;
    
    }

    #kids-section .kids-text h2 {
        font-size: 18px;
        max-width: 100%;
    }
}

@media (max-width: 570px) and (min-width: 300px) {
    #kids-section {
        display: flex;
        flex-direction: column-reverse;
        padding: 40px;
       }
       #kids-section .kids-text {
        text-align: center;
        padding-bottom: 15px;
       }
    
       #kids-section .kids-text h1 {
        font-size: 25px;
        
        }
        #kids-section .kids-text h2 {
            font-size: 18px;
            max-width: 100%;
        }
    
} 
